.ambil-kelas-detailbid-peng-child {
  width: 90rem;
  height: 64rem;
  position: relative;
  display: none;
  max-width: 100%;
}
.ambil-kelas-detailbid-peng-item {
  width: 5.75rem;
  height: 1.813rem;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-400);
  border: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
}
.cari2,
.search-item {
  position: relative;
  display: none;
}
.cari2 {
  width: 1.875rem;
  height: 0;
  letter-spacing: 0.02em;
}
.search-item {
  height: 2.944rem;
  width: 44.213rem;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  max-width: 100%;
}
.cari3,
.image-2-icon1 {
  position: relative;
  z-index: 1;
}
.cari3 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 1.375rem;
  letter-spacing: 0.02em;
  color: var(--color-darkgray);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.image-2-icon1 {

  position: absolute;
  height: 1.125rem;
  width: 1.125rem;
  object-fit: contain;
}
.search1 {
  height: 2.944rem;
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-smi-4) var(--padding-10xl) var(--padding-xs-7)
    var(--padding-11xl);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.image-14-icon1 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  object-fit: cover;
}
.filter-item1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.filter1 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 3rem;
}
.filter-item-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-5) var(--padding-xl);
  background-color: var(--color-gainsboro-500);
  align-self: stretch;
  border-radius: var(--br-xl);
  flex-direction: row;
  gap: var(--gap-3xs);
  z-index: 1;
}
.content1,
.filter-bar,
.filter-item-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.filter-bar {
  width: 7.375rem;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.content1 {
  align-self: stretch;
  height: 2.881rem;
  flex-direction: row;
  gap: var(--gap-6xl-6);
  max-width: 100%;
}
.heading-permintaan-mengajar {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
  z-index: 1;
}
.main,
.request-details {
  display: flex;
  align-items: flex-start;
}
.request-details {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 15.5rem;
}
.main {
  width: 53.125rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-25xl-9);
  max-width: 100%;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.frame-child6,
.terima {
  position: relative;
  display: none;
}
.terima {
  letter-spacing: 0.02em;
  min-width: 3.625rem;
}
.frame-child6 {
  height: 32.25rem;
  width: 57.5rem;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  max-width: 100%;
}
.class-item-child {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xl);
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.rp-1500009 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 7.375rem;
  white-space: nowrap;
  z-index: 1;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 var(--padding-smi);
}
.stars-icon,
.stars-icon1,
.stars-icon2,
.stars-icon3,
.stars-icon4 {
  height: 1.563rem;
  width: 1.563rem;
  position: relative;
  min-height: 1.563rem;
}
.rating {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.price-info {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.class-info,
.class-item,
.price-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.class-info {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 var(--padding-xs);
}
.class-item {
  height: 19.688rem;
  width: 10.625rem;
  flex-direction: column;
  gap: 1.05rem;
  font-size: var(--font-size-xl);
  color: red;
}
.mapel {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 700;
  z-index: 1;
}
.subject-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.budiman-susanto,
.nama {
  position: relative;
  letter-spacing: 0.02em;
  z-index: 1;
}
.nama {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 3.688rem;
}
.budiman-susanto {
  flex: 1;
  color: var(--color-slategray-100);
}
.class-content,
.teacher-info1 {
  width: 16.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
}
.class-content {
  width: 24.938rem;
  flex-direction: column;
  gap: var(--gap-4xs);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.kalkulus,
.mata-pelajaran {
  position: relative;
  letter-spacing: 0.02em;
  z-index: 1;
}
.mata-pelajaran {
  font-weight: 500;
}
.kalkulus {
  text-decoration: none;
  width: 5.5rem;
  color: var(--color-slategray-100);
  display: inline-block;
  flex-shrink: 0;
}
.schedule-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mei-2020,
.tanggaljam-pertemuan {
  position: relative;
  letter-spacing: 0.02em;
  z-index: 1;
}
.tanggaljam-pertemuan {
  font-weight: 500;
}
.mei-2020 {
  color: var(--color-slategray-100);
  white-space: nowrap;
}
.schedule-info,
.schedule-items1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.schedule-info {
  flex-direction: column;
  gap: var(--gap-mini);
  max-width: 100%;
}
.jenjang,
.kuliah-semester-1 {
  position: relative;
  letter-spacing: 0.02em;
  z-index: 1;
}
.jenjang {
  font-weight: 500;
  display: inline-block;
  min-width: 5.125rem;
}
.kuliah-semester-1 {
  flex: 1;
  color: var(--color-slategray-100);
}
.level-info {
  width: 17.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.deskripsi-pelajaran,
.lorem-ipsum-dolor {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  z-index: 1;
}
.deskripsi-pelajaran {
  width: 13rem;
  font-weight: 500;
}
.lorem-ipsum-dolor {
  margin: 0;
  width: 36.625rem;
  font-size: var(--font-size-base);
  color: var(--color-slategray-100);
  max-width: 100%;
}
.frame-child7 {
  height: 2.5rem;
  width: 7.5rem;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-200);
  display: none;
}
.batal {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 2.625rem;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-20xl) var(--padding-4xs);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.group-button:hover {
  background-color: #c2c2c2;
}
.frame-child8 {
  height: 2.5rem;
  width: 7.5rem;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-royalblue-200);
  display: none;
}
.terima1 {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 3.5rem;
  z-index: 1;
}
.action-buttons1,
.rectangle-parent6 {
  flex-direction: row;
  justify-content: flex-start;
}
.rectangle-parent6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-13xl) var(--padding-4xs);
  background-color: var(--color-royalblue-200);
  border-radius: var(--br-11xl);
  display: flex;
  align-items: flex-start;
  z-index: 1;
}
.rectangle-parent6:hover {
  background-color: var(--color-dodgerblue-100);
}
.action-buttons1 {
  gap: var(--gap-xl);
}
.action-buttons1,
.actions,
.class-details {
  display: flex;
  align-items: flex-start;
}
.actions {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.class-details {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.912rem;
  min-width: 24.688rem;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.terima-parent {
  flex: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: row;
  flex-wrap: wrap;
  /* padding: var(--padding-22xl) 3.375rem 3rem; */
  gap: var(--gap-12xl);
  max-width: 100%;
  padding: var(--padding-6xl) var(--padding-6xl) var(--padding-24xl);
  z-index: 2;
}
.ambil-kelas-detailbid-peng,
.ambil-kelas-detailbid-peng-inner,
.terima-parent {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ambil-kelas-detailbid-peng-inner {
  width: 65.875rem;
  flex-direction: row;
  padding: 0 var(--padding-48xl);
  max-width: 100%;
  max-height: 90%;
  overflow: auto;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.ambil-kelas-detailbid-peng {
  width: 100%;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-103xl) 11.312rem 12.125rem;
  gap: var(--gap-30xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-cornflowerblue);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .ambil-kelas-detailbid-peng {
    padding-left: var(--padding-71xl);
    padding-right: var(--padding-71xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .class-details {
    min-width: 100%;
  }
  .terima-parent {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .ambil-kelas-detailbid-peng-inner {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .request-details {
    padding-left: 7.75rem;
    box-sizing: border-box;
  }
  .schedule-items1 {
    flex-wrap: wrap;
  }
  .terima-parent {
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .ambil-kelas-detailbid-peng {
    gap: var(--gap-5xl);
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .request-details {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .main {
    gap: var(--gap-3xl);
  }
  .mapel,
  .rp-1500009 {
    font-size: var(--font-size-base);
  }
  .action-buttons1,
  .schedule-items {
    flex-wrap: wrap;
  }
  .terima-parent {
    gap: var(--gap-mini);
  }
  .ambil-kelas-detailbid-peng {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
