.learning-options-child {
  width: 85rem;
  height: 39.938rem;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.kamu-mau-belajar {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.fill-judulpelajaran-child {
  height: 2.75rem;
  width: 55.938rem;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-silver-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.pelajaran-yang-kamu {
  width: 22.881rem;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 1.5rem;
  position: relative;
  letter-spacing: 0.02em;
  color: var(--color-silver-100);
  text-align: left;
  display: inline-block;
  max-width: 100%;
  padding: 0;
  z-index: 1;
}
.dropdown-jenjang-child,
.fill-judulpelajaran {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-silver-100);
  box-sizing: border-box;
}
.fill-judulpelajaran {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  min-width: 22.875rem;
  max-width: 100%;
  z-index: 1;
}
.dropdown-jenjang-child {
  height: 2.75rem;
  width: 17.125rem;
  position: relative;
  display: none;
}
.pilih-jenjang {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 6.25rem;
  z-index: 1;
}
.arrow-drop-down-24dp-fill0-wgh-icon8 {
  height: 1.5rem;
  width: 1.488rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
  z-index: 1;
}
.dropdown-jenjang {
  width: 17.125rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-silver-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-2xs) var(--padding-5xs)
    var(--padding-3xs);
  white-space: nowrap;
  gap: var(--gap-xl);
  z-index: 1;
}
.learning-topic,
.subject-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.subject-details {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4.437rem;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.learning-topic {
  width: 77.5rem;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.deskripsikan-pelajaran-tersebu {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.description3,
.fill-deskripsipelajaran {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fill-deskripsipelajaran {
  border: 1.5px solid var(--color-silver-100);
  background-color: var(--color-white);
  height: 13.75rem;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
  z-index: 1;
}
.description3 {
  width: 55.938rem;
  flex-direction: column;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.tentukan-harga-yang {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.fill-harga-child,
.rp-xxxxxx,
.tentukan-harga-yang {
  position: relative;
  max-width: 100%;
}
.fill-harga-child {
  height: 2.75rem;
  width: 55.938rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-silver-100);
  box-sizing: border-box;
  display: none;
}
.rp-xxxxxx {
  width: 22.881rem;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 1.5rem;
  letter-spacing: 0.02em;
  color: var(--color-silver-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.fill-harga {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-silver-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  z-index: 1;
}
.fill-harga,
.price-field,
.price-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.price-field {
  width: 55.938rem;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.price-input {
  align-self: stretch;
  flex-direction: row;
}
.lanjut-pembayaran {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.button33,
.pricing {
  display: flex;
  justify-content: flex-start;
}
.button33 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xl);
  background-color: var(--color-orange-100);
  border-radius: var(--br-mini);
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.button33:hover {
  background-color: var(--color-darkgoldenrod);
}
.pricing {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-mini);
  max-width: 100%;
}
.learning-options,
.request-kelas-2-pelajar {
  background-color: var(--color-white);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.learning-options {
  flex: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-xl);
  flex-direction: column;
  padding: var(--padding-6xl) var(--padding-6xl) var(--padding-24xl);
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-royalblue-200);
  font-family: var(--font-poppins);
}
.request-kelas-2-pelajar {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-128xl) var(--padding-21xl) var(--padding-219xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 650px) {
  .learning-options {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 625px) {
  .fill-judulpelajaran {
    min-width: 100%;
  }
  .subject-details {
    gap: 2.188rem;
  }
}
@media screen and (max-width: 450px) {
  .kamu-mau-belajar {
    font-size: var(--font-size-lgi);
  }
  .subject-details {
    gap: var(--gap-lg);
  }
  .deskripsikan-pelajaran-tersebu,
  .tentukan-harga-yang {
    font-size: var(--font-size-lgi);
  }
}
