.profilepicture-icon3 {
  height: 7.5rem;
  width: 7.5rem;
  position: relative;
}
.budiman-h3 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 7.188rem;
  white-space: nowrap;
}
.profile-name-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.experience-star-icon,
.experience-star-icon1,
.experience-star-icon2,
.experience-star-icon3,
.experience-star-icon4 {
  height: 1.813rem;
  width: 1.813rem;
  position: relative;
  min-height: 1.813rem;
}
.experience-stars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience-label {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 2.875rem;
}
.teaching-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.durasi-mengajar-50-container3 {
  position: relative;
  letter-spacing: 0.02em;
  white-space: nowrap;
}
.teaching-label1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  color: var(--color-black);
}
.profile-name-container-parent,
.teaching-experience {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.teaching-experience {
  flex-direction: row;
  gap: var(--gap-4xs);
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.profile-name-container-parent {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.profile-content,
.profile-info2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.profile-info2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
}
.profile-content {
  width: 37.438rem;
  flex-direction: row;
  gap: var(--gap-31xl);
}
.ubah-profil3 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  min-width: 5.688rem;
}
.button7 {
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-sm);
  white-space: nowrap;
}
.keluar3 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  min-width: 3.375rem;
}
.button8 {
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-sm);
}
.action-buttons4,
.button8,
.profile-actions {
  display: flex;
  align-items: flex-start;
}
.action-buttons4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.profile-actions {
  width: 15.688rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-24xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.profile-container,
.tutor-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.profile-container {
  width: 67.375rem;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.tutor-profile {
  align-self: stretch;
  justify-content: center;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.riwayat-pengajar-item {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.deskripsi3 {
  display: inline-block;
  min-width: 5.938rem;
}
.deskripsi3,
.kelas-selesai3,
.kelas-terjadwal3 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.sertifikasi3 {
  display: inline-block;
  min-width: 6.375rem;
}
.rating-ulasan3,
.sertifikasi3 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.navbar-profilriwayat3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navbar-item {
  width: 10.438rem;
  height: 0.125rem;
  position: relative;
}
.navbar1,
.navigation2 {
  display: flex;
  max-width: 100%;
}
.navbar1 {
  width: 54.063rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.navigation2 {
  width: 64.188rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.rating-value {
  height: 4.938rem;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 700;
  display: inline-block;
  min-width: 6.688rem;
}
.total-rating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-xl);
}
.dari-50 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 3.625rem;
  z-index: 1;
}
.rating-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-24xl) 0 var(--padding-25xl);
}
.summary-star-icon,
.summary-star-icon1,
.summary-star-icon2,
.summary-star-icon3,
.summary-star-icon4 {
  height: 1.813rem;
  width: 1.813rem;
  position: relative;
  min-height: 1.813rem;
}
.summary-stars {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rating3 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  min-width: 5.313rem;
}
.rating-label1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-12xl);
  color: var(--color-darkgray);
}
.rating-scale {
  align-self: stretch;
  gap: var(--gap-6xs);
  margin-top: -0.563rem;
  font-size: var(--font-size-mini);
  color: var(--color-gray-500);
}
.header-info,
.rating-scale,
.rating-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rating-summary {
  align-self: stretch;
}
.header-info {
  width: 10.938rem;
  padding: 0.425rem var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.header-separator {
  height: 11.313rem;
  width: 0.125rem;
  position: relative;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.review-progress {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 1.438rem;
}
.progress-background,
.progress-background1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
}
.progress-background {
  width: 100%;
  right: 0;
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.progress-background1 {
  width: 66.32%;
  right: 33.68%;
  background-color: var(--color-mediumslateblue-100);
  z-index: 1;
}
.progress-background-parent {
  align-self: stretch;
  height: 0.625rem;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-whitesmoke-200);
}
.review-labels,
.review-progress-parent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.review-labels {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 27.375rem;
}
.review-progress-parent {
  flex-direction: row;
  gap: var(--gap-15xl);
  min-width: 29.688rem;
}
.ulasan {
  position: relative;
  letter-spacing: 0.02em;
  color: var(--color-gray-500);
  text-align: right;
  display: inline-block;
  min-width: 5.375rem;
}
.review-columns {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  max-width: 100%;
}
.div1 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 1.438rem;
}
.progress-background2,
.progress-background3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
}
.progress-background2 {
  width: 100%;
  right: 0;
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.progress-background3 {
  width: 24.17%;
  right: 75.83%;
  background-color: var(--color-mediumslateblue-100);
  z-index: 1;
}
.progress-background-group {
  align-self: stretch;
  height: 0.625rem;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-whitesmoke-200);
}
.frame-wrapper31,
.parent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper31 {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 27.375rem;
}
.parent {
  flex-direction: row;
  gap: var(--gap-15xl);
  min-width: 29.688rem;
}
.ulasan1 {
  position: relative;
  letter-spacing: 0.02em;
  color: var(--color-gray-500);
  text-align: right;
  display: inline-block;
  min-width: 4.875rem;
}
.review-columns1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-36xl);
  max-width: 100%;
}
.div2 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 1.438rem;
}
.progress-background4,
.progress-background5 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
}
.progress-background4 {
  width: 100%;
  right: 0;
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.progress-background5 {
  width: 24.18%;
  right: 75.82%;
  background-color: var(--color-mediumslateblue-100);
  z-index: 1;
}
.progress-background-container {
  align-self: stretch;
  height: 0.625rem;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-whitesmoke-200);
}
.frame-wrapper32,
.group {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper32 {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 27.375rem;
}
.group {
  flex-direction: row;
  gap: var(--gap-15xl);
  min-width: 29.688rem;
}
.ulasan2 {
  position: relative;
  letter-spacing: 0.02em;
  color: var(--color-gray-500);
  text-align: right;
  display: inline-block;
  min-width: 4.875rem;
}
.review-columns2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-36xl);
  max-width: 100%;
}
.review-count-value {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 1.438rem;
}
.progress-background-wrapper,
.progress-background6 {
  border-radius: var(--br-6xl);
  background-color: var(--color-whitesmoke-200);
}
.progress-background6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.progress-background-wrapper {
  align-self: stretch;
  height: 0.625rem;
  position: relative;
}
.review-count-container,
.review-count-icon {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.review-count-icon {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 27.375rem;
}
.review-count-container {
  flex-direction: row;
  gap: 2.093rem;
  min-width: 29.625rem;
}
.ulasan3 {
  position: relative;
  letter-spacing: 0.02em;
  color: var(--color-gray-500);
  text-align: right;
  display: inline-block;
  min-width: 4.25rem;
}
.review-count-container-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.progress-placeholder {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 1.188rem;
}
.progress-background-frame,
.progress-background7 {
  border-radius: var(--br-6xl);
  background-color: var(--color-whitesmoke-200);
}
.progress-background7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.progress-background-frame {
  align-self: stretch;
  height: 0.625rem;
  position: relative;
}
.progress-container,
.progress-placeholder-parent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.progress-container {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 27.375rem;
}
.progress-placeholder-parent {
  flex-direction: row;
  gap: 2.218rem;
  min-width: 29.563rem;
}
.ulasan4 {
  position: relative;
  letter-spacing: 0.02em;
  color: var(--color-gray-500);
  text-align: right;
  display: inline-block;
  min-width: 4.25rem;
}
.frame-parent49 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-45xl);
}
.frame-parent49,
.review-columns-parent,
.review-columns3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.review-columns3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
  box-sizing: border-box;
}
.review-columns-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
  min-width: 35.125rem;
  font-size: var(--font-size-mini);
}
.content-header,
.page-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.content-header {
  width: 66.813rem;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}
.page-content {
  align-self: stretch;
  padding: 0 0 var(--padding-8xs) var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.review-avatars-child {
  width: 4.375rem;
  height: 4.375rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.review-avatars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi);
}
.bulan-lalu,
.kucing-konheng {
  position: relative;
  letter-spacing: 0.02em;
}
.kucing-konheng {
  font-weight: 600;
}
.bulan-lalu {
  color: var(--color-darkgray);
  display: inline-block;
  min-width: 6.875rem;
}
.review-dates {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.mata-pelajaran1 {
  font-weight: 300;
}
.kalkulus1 {
  font-weight: 600;
  color: var(--color-royalblue-200);
}
.mata-pelajaran-container {
  position: relative;
  letter-spacing: 0.02em;
}
.review-names,
.review-subheaders {
  display: flex;
  justify-content: flex-start;
}
.review-names {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  min-width: 11.375rem;
}
.review-subheaders {
  width: 22.688rem;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-smi);
  max-width: 100%;
}
.empty-stars {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 2.063rem;
}
.star-columns-child,
.star-columns-child1,
.star-columns-inner,
.star-columns-item,
.star-icon {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  min-height: 1.25rem;
}
.star-columns,
.star-rows {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-columns {
  align-self: stretch;
  flex-direction: row;
}
.star-rows {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.review-star-containers {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.review-headers,
.review-ratings,
.review-star-containers {
  display: flex;
  align-items: flex-start;
}
.review-ratings {
  width: 8.813rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.review-headers {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.lorem-ipsum-dolor1 {
  margin: 0;
  width: 61.688rem;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.review-descriptions {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.review-content,
.review-content-wrapper,
.review-descriptions {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.review-content {
  width: 66.875rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.review-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.ellipse-icon {
  width: 4.375rem;
  height: 4.375rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.ellipse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi);
}
.bulan-lalu1,
.kucing-konheng1 {
  position: relative;
  letter-spacing: 0.02em;
}
.kucing-konheng1 {
  font-weight: 600;
}
.bulan-lalu1 {
  color: var(--color-darkgray);
  display: inline-block;
  min-width: 6.875rem;
}
.kucing-konheng-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.mata-pelajaran2 {
  font-weight: 300;
}
.kalkulus2 {
  font-weight: 600;
  color: var(--color-royalblue-200);
}
.mata-pelajaran-container1 {
  position: relative;
  letter-spacing: 0.02em;
}
.frame-parent51,
.frame-parent52 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent52 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  min-width: 11.375rem;
}
.frame-parent51 {
  width: 22.688rem;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-smi);
  max-width: 100%;
}
.b {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 2.063rem;
}
.frame-child31,
.frame-child32,
.frame-child33,
.frame-child34,
.frame-child35 {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  min-height: 1.25rem;
}
.frame-wrapper34,
.star-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-parent {
  align-self: stretch;
  flex-direction: row;
}
.frame-wrapper34 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.container,
.frame-parent50,
.frame-wrapper33 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper33 {
  width: 8.813rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.frame-parent50 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.lorem-ipsum-dolor2 {
  margin: 0;
  width: 61.688rem;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.lorem-ipsum-dolor-sit-amet-co-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.lorem-ipsum-dolor-sit-amet-co-wrapper,
.review-content-container,
.review-content1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.review-content1 {
  width: 66.875rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.review-content-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.frame-child36 {
  width: 4.375rem;
  height: 4.375rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.ellipse-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi);
}
.bulan-lalu2,
.kucing-konheng2 {
  position: relative;
  letter-spacing: 0.02em;
}
.kucing-konheng2 {
  font-weight: 600;
}
.bulan-lalu2 {
  color: var(--color-darkgray);
  display: inline-block;
  min-width: 6.875rem;
}
.kucing-konheng-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.mata-pelajaran3 {
  font-weight: 300;
}
.kalkulus3 {
  font-weight: 600;
  color: var(--color-royalblue-200);
}
.mata-pelajaran-container2 {
  position: relative;
  letter-spacing: 0.02em;
}
.frame-parent54,
.frame-parent55 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent55 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  min-width: 11.375rem;
}
.frame-parent54 {
  width: 22.688rem;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-smi);
  max-width: 100%;
}
.b1 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 2.063rem;
}
.frame-child37,
.frame-child38,
.frame-child39,
.frame-child40,
.frame-child41 {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  min-height: 1.25rem;
}
.frame-wrapper36,
.star-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-group {
  align-self: stretch;
  flex-direction: row;
}
.frame-wrapper36 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent53,
.frame-wrapper35,
.parent1 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper35 {
  width: 8.813rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.frame-parent53 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.lorem-ipsum-dolor3 {
  margin: 0;
  width: 61.688rem;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.lorem-ipsum-dolor-sit-amet-co-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.lorem-ipsum-dolor-sit-amet-co-container,
.review-content-frame,
.review-content2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.review-content2 {
  width: 66.875rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.review-content-frame {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.frame-child42 {
  width: 4.375rem;
  height: 4.375rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.ellipse-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi);
}
.bulan-lalu3,
.kucing-konheng3 {
  position: relative;
  letter-spacing: 0.02em;
}
.kucing-konheng3 {
  font-weight: 600;
}
.bulan-lalu3 {
  color: var(--color-darkgray);
  display: inline-block;
  min-width: 6.875rem;
}
.kucing-konheng-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.mata-pelajaran4 {
  font-weight: 300;
}
.kalkulus4 {
  font-weight: 600;
  color: var(--color-royalblue-200);
}
.mata-pelajaran-container3 {
  position: relative;
  letter-spacing: 0.02em;
}
.frame-parent57,
.frame-parent58 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent58 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  min-width: 11.375rem;
}
.frame-parent57 {
  width: 22.688rem;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-smi);
  max-width: 100%;
}
.b2 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 2.063rem;
}
.frame-child43,
.frame-child44,
.frame-child45,
.frame-child46,
.frame-child47 {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  min-height: 1.25rem;
}
.frame-wrapper38,
.star-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-container {
  align-self: stretch;
  flex-direction: row;
}
.frame-wrapper38 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.parent2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent56,
.frame-wrapper37,
.parent2 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper37 {
  width: 8.813rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.frame-parent56 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.lorem-ipsum-dolor4 {
  margin: 0;
  width: 61.688rem;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.lorem-ipsum-dolor-sit-amet-co-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.review-content3 {
  width: 66.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.review-content-wrapper1,
.riwayat-pengajar1 {
  display: flex;
  align-items: flex-start;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.review-content-wrapper1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.riwayat-pengajar1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-81xl) var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-8xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-xl);
}
@media screen and (max-width: 950px) {
  .navbar-profilriwayat3 {
    flex-wrap: wrap;
  }
  .rating-value {
    font-size: var(--font-size-32xl);
  }
  .header-separator {
    width: 100%;
    height: 0.125rem;
  }
  .review-progress-parent {
    gap: var(--gap-mid);
    min-width: 100%;
  }
  .review-columns {
    flex-wrap: wrap;
  }
  .parent {
    gap: var(--gap-mid);
    min-width: 100%;
  }
  .review-columns1 {
    flex-wrap: wrap;
  }
  .group {
    gap: var(--gap-mid);
    min-width: 100%;
  }
  .review-columns2 {
    flex-wrap: wrap;
  }
  .review-count-container {
    gap: var(--gap-mid);
    min-width: 100%;
  }
  .review-count-container-parent {
    flex-wrap: wrap;
    gap: var(--gap-13xl);
  }
  .progress-placeholder-parent {
    gap: var(--gap-lg);
    min-width: 100%;
  }
  .frame-parent49 {
    flex-wrap: wrap;
    gap: var(--gap-13xl);
  }
  .review-columns-parent {
    min-width: 100%;
  }
  .riwayat-pengajar1 {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .profile-content {
    gap: var(--gap-6xl);
  }
  .review-labels {
    min-width: 100%;
  }
  .review-progress-parent {
    flex-wrap: wrap;
  }
  .frame-wrapper31 {
    min-width: 100%;
  }
  .parent {
    flex-wrap: wrap;
  }
  .frame-wrapper32 {
    min-width: 100%;
  }
  .group {
    flex-wrap: wrap;
  }
  .review-count-icon {
    min-width: 100%;
  }
  .review-count-container {
    flex-wrap: wrap;
  }
  .progress-container {
    min-width: 100%;
  }
  .frame-parent50,
  .frame-parent53,
  .frame-parent56,
  .progress-placeholder-parent,
  .review-headers {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .deskripsi3,
  .kelas-selesai3,
  .kelas-terjadwal3,
  .rating-ulasan3,
  .sertifikasi3 {
    font-size: var(--font-size-base);
  }
  .rating-value {
    font-size: var(--font-size-19xl);
  }
  .review-columns {
    gap: var(--gap-4xl);
  }
  .review-columns1,
  .review-columns2 {
    gap: var(--gap-8xl);
  }
  .frame-parent49,
  .review-count-container-parent {
    gap: var(--gap-base);
  }
  .review-subheaders {
    flex-wrap: wrap;
  }
  .empty-stars {
    font-size: var(--font-size-base);
  }
  .frame-parent51 {
    flex-wrap: wrap;
  }
  .b {
    font-size: var(--font-size-base);
  }
  .frame-parent54 {
    flex-wrap: wrap;
  }
  .b1 {
    font-size: var(--font-size-base);
  }
  .frame-parent57 {
    flex-wrap: wrap;
  }
  .b2 {
    font-size: var(--font-size-base);
  }
  .riwayat-pengajar1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
