body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.container{
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
}

.nav-pills .nav-link {
    font-weight: bold;
    color: #495057;
}

.nav-pills .nav-link.active {
    background-color: #e9ecef;
    color: #495057;
}

h3 {
    margin-bottom: 20px;
}

img.rounded-circle {
    margin-bottom: 10px;
}

button.btn-outline-secondary {
    margin: 5px;
}

form .form-group {
    margin-bottom: 15px;
}

form .form-group label {
    font-weight: bold;
}
